#background-shapes-small {
  background-image: url(../images/mobile_geometry_1.png);
  background-repeat: no-repeat;
  height: 74px;
  width: 111px;
}

.header {
  display: flex;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.toggleNav {
  padding: 20px;
}

.navbar ul {
  display: none;
}

main {
  display: block;
}

section {
  display: flex;
  flex-direction: column;
}

.headline-top {
  display: flex;
  flex-direction: column;
}

.headline-name {
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  font-weight: 400;
  margin: 16px;
}

.headline-bio {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin: 16px;
}

#start-collaboration {
  background-color: #1a2236;
  color: white;
  border: solid white;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 20px;
  margin: 16px;
}

#start-collaboration:hover {
  background-color: whitesmoke;
  color: rgb(14, 14, 68);
}

#start-collaboration:active {
  background-color: whitesmoke;
  color: rgb(14, 14, 68);
  border: solid rgb(14, 14, 68) 2px;
}

.headline-last {
  display: flex;
  justify-content: stretch;
  align-content: stretch;
}

#background-shapes-medium {
  background-image: url(../images/image_geometry_2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;
  height: 50vw;
}

.one {
  background-color: #1A2236;
  color: white;
}

.one .thumbnail {
  background-image: url(../images/project_thumbnail_1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vw;
}

.project-summary{
  display: flex;
  flex-wrap: wrap;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  padding-inline-start: 20px;
}

.project-summary p {
  flex: 1 1 100%;
  font-size: 20px;
  margin-bottom: 0px;
}
.project-summary ul {
  flex: 1 1 100%;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  padding-inline-start: 0px;
}
.project-summary ul li {
  list-style: none;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
  background-color: #98DEDE;
  font-size: 10.33px;
  color: #1A2236
 }

 .button-project {
   display: flex;
   align-items: center;
   border: solid white;
   padding: 0px;
   padding-right: 5px;
   margin-bottom: 20px;
   height: 44px;
 }

 #see-project {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 12px;
   background-color: #1a2236;
   border: #1a2236;
   color: white;

   font-family: 'Poppins', sans-serif;
   font-size: 16px;
   font-weight: 500;
 }
