header {
  background-image: none;
}

body {
background: linear-gradient(110deg, #e35461 40%, #fec25a 60%);  
}

main {
  width: 90%;
  margin: auto;
  background-color: white;
}

#hello-section {
  margin-top: 20px;
}

.navbar {
  justify-content: flex-start;
  margin-bottom: 0;
  padding: 2px;
  padding-left: 150px;
  width: 100%;
  position: fixed;
  background-color: whitesmoke;
  z-index: 10;
  background-image: url(../images/mobile_geometry_1.svg);
  background-repeat: no-repeat;
  background-size: 100px;
}

.navbar img {
  display: none;
}

.navbar ul {
  visibility: visible;
  justify-content: space-between;
  width: 40vw;
  padding-inline-start: 0;
}

.navbar #hello {
  background-image: url(../images/Rectangle\ 52.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 40px;
}

.navbar a {
  font-size: 1.5rem;
}

.headline {
  background-image: none;
  flex-direction: row;
  padding-bottom: 50px;
}

.headline .left {
  display: flex;
  flex-direction: column;
  flex: 1 1 35%;
  background-image: url(../images/image_dots.png);
  background-repeat: no-repeat;
  background-size: 12.5vw;
  background-position: right bottom;
  padding-left: 5%;
  padding-bottom: 15vw;
}

#author {
  font-size: 6vw;
  flex: 1;
}

#bio {
  flex: 1;
  font-size: 1.6vw;
  padding-right: 5vw;
}

#start-collaboration {
  width: 25vw;
  font-size: 2vw;
  padding: 1.5vw;
  text-align: center;
}

.headline .right {
  display: initial;
  height: 61.72vw;
  flex: 1 1 50%;
  background-image: url(../images/image-geometry_1.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: contain;
}

.thumbnail {
  display: none;
}

.projects {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 0.7fr 1fr 1fr;
  grid-template-rows: 37.4vw 4vw 8vw 6vw 6vw 12vw repeat(3, 6vw) 9vw 9vw;
}

#projects-title {
  grid-column: 1/4;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  background-image: url(../images/image_dots.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 11vw;
}

.projects h1 {
  transform: rotate(-90deg);
  font-size: 7.6vw;
  align-self: flex-start;
  margin-top: 2ch;
}

.one,
.two,
.three,
.for,
.five,
.six {
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgba(0, 0, 0, 0);
}

.one {
  grid-row: 1/2;
  grid-column: 4/10;
  background-size: cover;
  background-position: top;
  overflow: hidden;
  background-image: url(../images/projects/stock-thumbnail.png);
}

.two {
  grid-row: 3/6;
  grid-column: 1/4;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  background-image: url(../images/projects/leaderboard-thumbnail.png);
}

.three {
  grid-row: 6/10;
  grid-column: 1/6;
  overflow: hidden;
  background-image: url(../images/projects/yugioh-thumbnail.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0);
}

.four {
  grid-row: 10/12;
  grid-column: 6/9;
  overflow: hidden;
  background-image: url(../images/projects/reservify-thumbnail.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.five {
  grid-row: 5/7;
  grid-column: 7/10;
  overflow: hidden;
  background-image: url(../images/projects/recipes-thumbnail.png);
}

.six {
  grid-row: 2/5;
  grid-column: 7/10;
  overflow: hidden;
  background-size: cover;
  background-image: url(../images/projects/budget-thumbnail.png);
}

.see-project {
  white-space: nowrap;
}

.see-project img {
  width: 70%;
}

.project-summary {
  background-color: rgba(0, 0, 0, 0);
  transition: transform 1s, background-color 1s;
}

.one .project-summary {
  transform: translateY(28vw);
  padding-bottom: 10vw;
  height: 60%;
}

.two .project-summary {
  transform: translateY(15vw);
  padding-bottom: 5vw;
  padding-inline-start: 2vw;
  height: 65%;
}

.three .project-summary {
  transform: translateY(22vw);
  padding-bottom: 5vw;
  padding-inline-start: 2vw;
  height: 65%;
}

.four .project-summary,
.five .project-summary,
.six .project-summary {
  transform: translateY(12vw);
  height: 80%;
  padding-bottom: 5vw;
  padding-inline-start: 2vw;
}

.one:hover .project-summary,
.two:hover .project-summary,
.three:hover .project-summary,
.four:hover .project-summary,
.five:hover .project-summary,
.six:hover .project-summary {
  background-color: #1a2236;
  color: white;
}

.one:hover .project-summary {
  transform: translateY(10vw);
}

.two:hover .project-summary {
  transform: translateY(4vw);
}

.three:hover .project-summary {
  transform: translateY(8vw);
}

.four:hover .project-summary,
.five:hover .project-summary,
.six:hover .project-summary {
  transform: translateY(2vw);
}

.projects h2 {
  align-self: flex-start;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  background-color: #1a2236;
}

.one h2 {
  flex: 0;
  font-size: 4.1vw;
  font-weight: 700;
  white-space: nowrap;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-top: 1.5vw;
  margin-bottom: 1.5vw;
  border-radius: 5px;
}

.one ul {
  height: 4vw;
  align-items: center;
  justify-content: flex-start;
  gap: 2vw;
  padding-left: 1vw;
}

.one li {
  padding: 1em;
  width: 10vw;
  font-size: 1.4vw;
  font-weight: 600;
}

.one .see-project {
  margin-top: 2.5vw;
  font-size: 1.6vw;
  padding: 1vw;
  margin-left: 1vw;
}

.two h2 {
  flex: 0;
  font-size: 2vw;
  font-weight: 700;
  white-space: nowrap;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-top: 0.7vw;
  margin-bottom: 0.7vw;
  border-radius: 5px;
}

.two ul {
  height: 3vw;
  align-items: center;
  justify-content: flex-start;
  gap: 1vw;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
  padding-left: 1vw;
}

.two li {
  padding: 1em;
  width: 7vw;
  font-size: 0.8vw;
  font-weight: 600;
}

.two .see-project {
  margin-top: 1vw;
  font-size: 1.2vw;
  padding: 0.8vw;
  margin-left: 1vw;
}

.three h2 {
  flex: 0;
  font-size: 3.5vw;
  font-weight: 700;
  white-space: nowrap;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-top: 0.7vw;
  margin-bottom: 0.7vw;
  border-radius: 5px;
}

.three ul {
  height: 4vw;
  align-items: center;
  justify-content: flex-start;
  gap: 2vw;
  margin-top: 0.8vw;
  margin-bottom: 0.8vw;
  padding-left: 1vw;
}

.three li {
  padding: 1em;
  width: 9vw;
  font-size: 1.2vw;
  font-weight: 600;
}

.three .see-project {
  margin-top: 1.5vw;
  font-size: 1.8vw;
  padding: 1vw;
  margin-left: 1vw;
}

.four h2,
.five h2,
.six h2 {
  flex: 0;
  font-size: 2vw;
  font-weight: 700;
  white-space: nowrap;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-top: 0.7vw;
  margin-bottom: 0.7vw;
  border-radius: 5px;
}

.four ul,
.five ul,
.six ul {
  height: 3vw;
  align-items: center;
  justify-content: flex-start;
  gap: 1vw;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
  padding-left: 1vw;
}

.four li,
.five li,
.six li {
  padding: 1em;
  width: 6vw;
  font-size: 0.8vw;
  font-weight: 600;
}

.four .see-project,
.five .see-project,
.six .see-project {
  margin-top: 1vw;
  font-size: 1.2vw;
  padding: 0.8vw;
  margin-left: 1vw;
}

#image-geometry-2 {
  display: initial;
  background-image: url(../images/image-geometry_2.svg);
  background-repeat: no-repeat;
  background-size: contain;
  grid-column: 4/7;
  grid-row: 2/6;
}

#image-geometry-3 {
  display: initial;
  background-image: url(../images/image-geometry_3.svg);
  background-repeat: no-repeat;
  background-size: contain;
  grid-column: 6/10;
  grid-row: 7/10;
}

#image-geometry-4 {
  display: initial;
  background-image: url(../images/image-geometry_4.svg);
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: right top;
  grid-column: 4/6;
  grid-row: 10/12;
}

#image-geometry-5 {
  display: initial;
  background-image: url(../images/image-geometry_5.svg);
  background-repeat: no-repeat;
  background-size: 45%;
  grid-column: 1/4;
  grid-row: 10/12;
}

.about {
  flex-direction: row-reverse;
  justify-content: center;
  margin: 5vw;
}

.about .right {
  display: flex;
  flex-direction: column;
  padding-left: 4vw;
  flex: 1 1 50%;
}

.about h1 {
  font-size: 6vw;
}

.about p {
  margin-top: 1vw;
  font-size: 1.4vw;
}

#get-my-cv {
  font-size: 1.8vw;
  align-self: flex-start;
  width: 20vw;
  padding: 1vw;
}

.knowledge {
  flex: 1 1 50%;
  display: grid;
  grid-template-columns: repeat(2, 20vw);
  grid-template-rows: repeat(2, 20vw);
  margin-top: 0;
}

.knowledge h2 {
  font-size: 1.8vw;
  font-weight: 800;
  margin-top: 1.5vw;
}

.knowledge ul {
  font-size: 1.4vw;
  font-weight: 600;
  padding-top: 0;
}

.languages,
.frameworks,
.skills {
  padding-left: 1vw;
  padding-top: 1vw;
  margin: 0;
}

.languages {
  grid-column: 1/2;
}

.frameworks {
  grid-row: 1/2;
  grid-column: 2/3;
}

.skills {
  grid-row: 2/3;
  grid-column: 1/2;
}

.dots-tile {
  display: initial;
  grid-row: 2/3;
  grid-column: 2/3;
  background-image: url(../images/image_dots_with_teal.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 15vw;
}

#contact-section {
  background-image: url(../images/image-geometry_7.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 25%;
}

#contact-section .container {
  margin: 0;
}

#contact-section .top {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/image-geometry_6.svg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 25%;
}

#contact-section .top h1 {
  font-size: 9vw;
  font-weight: 400;
}

#form-description {
  font-size: 1.7vw;
  width: 50vw;
}

#signup {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
  width: 70vw;
  padding: 50px 0 90px 0;
  margin-bottom: 15px;
  column-gap: 1vw;
}

#form-name,
#form-email,
#form-message {
  position: relative;
  padding-left: 20px;
}

#form-name,
#form-email {
  width: calc(((100% - 2vw) / 2) - 25px);
  height: 40px;
  display: flex;
  align-items: center;
}

#form-message {
  width: 100%;
  height: auto;
  margin: 50px 0 20px 0;
}

label {
  position: absolute;
  top: -35px;
  font-size: 1.5em;
  width: 300px;
}

input#email {
  position: relative;
  left: 0;
}

textarea {
  height: 200px;
}

.error-messages {
  width: 100%;
}

#submit-form {
  width: 25vw;
  height: auto;
  margin: auto;
  align-self: center;
  font-size: 2vw;
  padding: 1.5vw;
}

.footer {
  flex-wrap: nowrap;
  padding-top: 0;
  padding-left: 11vw;
  padding-right: 11vw;
}

.social-networks {
  flex: 1 1 20%;
  justify-content: flex-end;
  gap: 3vw;
}

.social-networks img {
  width: 2vw;
}

#resume {
  white-space: nowrap;
  font-size: 1.5vw;
}

#resume img {
  margin-left: 1.2vw;
  width: 2vw;
}
